@charset 'utf-8';

/* 로고 폰트 */
@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    src: url(./font/SBaggroB.ttf);
    font-weight: normal;
    font-style: normal;
}

/* 본문 폰트 */
@font-face {
    font-family: "SUIT-M";
    src: url(./font/SUIT-Medium.woff2) format('woff2'),
         url(./font/SUIT-Medium.ttf) format('truetype');
}
@font-face {
    font-family: "SUIT-SB";
    src: url(./font/SUIT-SemiBold.woff2) format('woff2'),
         url(./font/SUIT-SemiBold.ttf) format('truetype');
}
@font-face {
    font-family: "SUIT-B";
    src: url(./font/SUIT-Bold.woff2) format('woff2'),
         url(./font/SUIT-Bold.ttf) format('truetype');
}
@font-face {
    font-family: "SUIT-EB";
    src: url(./font/SUIT-ExtraBold.woff2) format('woff2'),
         url(./font/SUIT-ExtraBold.ttf) format('truetype');
}
@font-face {
    font-family: "SUIT-H";
    src: url(./font/SUIT-Heavy.woff2) format('woff2'),
         url(./font/SUIT-Heavy.ttf) format('truetype');
}


