@charset 'utf-8';

@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    src: url(./font/SBaggroB.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SBAggroL";
    src: url(./font/SBaggroL.ttf);
}

@font-face {
    font-family: "SBAggroM";
    src: url(./font/SBaggroM.ttf);
}

@font-face {
    font-family: "SUIT-L";
    src: url(./font/SUIT-Light.woff2) format('woff2'),
         url(./font/SUIT-Light.ttf) format('truetype');
}
@font-face {
    font-family: "SUIT-T";
    src: url(./font/SUIT-Thin.woff2) format('woff2'),
         url(./font/SUIT-Thin.ttf) format('truetype');

}

@font-face {
    font-family: "SUIT-R";
    src: url(./font/SUIT-Regular.woff2) format('woff2'),
         url(./font/SUIT-Regular.ttf) format('truetype');
}
@font-face {
    font-family: "SUIT-M";
    src: url(./font/SUIT-Medium.woff2) format('woff2'),
         url(./font/SUIT-Medium.ttf) format('truetype');
}
@font-face {
    font-family: "SUIT-SB";
    src: url(./font/SUIT-SemiBold.woff2) format('woff2'),
         url(./font/SUIT-SemiBold.ttf) format('truetype');
}
@font-face {
    font-family: "SUIT-B";
    src: url(./font/SUIT-Bold.woff2) format('woff2'),
         url(./font/SUIT-Bold.ttf) format('truetype');
}
@font-face {
    font-family: "SUIT-EB";
    src: url(./font/SUIT-ExtraBold.woff2) format('woff2'),
         url(./font/SUIT-ExtraBold.ttf) format('truetype');
}
@font-face {
    font-family: "SUIT-H";
    src: url(./font/SUIT-Heavy.woff2) format('woff2'),
         url(./font/SUIT-Heavy.ttf) format('truetype');
}


