@charset 'utf-8';

@font-face {
    font-family: 'aggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "aggroL";
    src: url(./font/SBaggroL.ttf);
}

@font-face {
    font-family: "aggroM";
    src: url(./font/SBaggroM.ttf);
}


