@charset 'utf-8';

@media(max-width: 1200px) {

  html,
  body {
    font-size: 56%;
  }
}

@media(max-width: 960px) {

  html,
  body {
    font-size: 52%;
  }

  .main-section .left-area h1 {
    padding: 15px;
    padding-top: 20px;
  }

  .main-section .category {
    padding: 15px 15px 5px 15px;
  }

  .main-section .github_btn {
    padding: 10px 15px 15px 15px;
  }

  .project {
    gap: 36px;
  }

  .project img {
    width: 32rem;
  }

  .project button {
    margin-top: 14px;
  }

  .project-section {
    padding: 180px 0;
    gap: 160px;
  }

  .about-section {
    padding: 180px 0;
    gap: 30px;
  }

  .about-section .intro {
    gap: 30px;
  }

  .about-section .intro img {
    width: 26rem;
  }

  .about-section .key-text {
    width: 64rem;
    margin-bottom: 30px;
  }

  .about-section .keyword li p {
    font-size: 2.4rem;
  }

  .about-section .about-bottom {
    margin-bottom: 130px;
  }

}

@media(max-width: 768px) {

  html,
  body {
    font-size: 48%;
  }
}

@media(max-width: 700px) {
  .left-area {
    width: 100% !important;
  }

  .right-area {
    display: none !important;
  }

  .main-section .category nav {
    width: 100%;
    height: 100vh;
    position: inherit;
    padding: 0;
  }

  .main-section .category nav .close-btn {
    padding: 20px;
  }

  .main-section .category nav ul {
    align-items: center;
    gap: 50px;
  }

  .main-section .category nav ul li {
    font-size: 4.8rem;
  }

  .skill-section {
    display: block;
  }

  .skill-section .skill-right-area {
    display: none;
  }

  .skill-section .skill-right-area div {
    display: none;

  }

  .skill-section .skill-left-area {
    display: none !important;

  }

  .skill-section .m-skill-left-area {
    display: flex;
    flex-direction: column;
    padding: 140px 0;
    gap: 60px;
  }

  .skill-section .m-skill-left-area div {
    text-align: center;
    opacity: 0;
    transform: translateY(70px);
    transition: all 1s;
  }

  .skill-section .m-skill-left-area p {
    font-family: "SUIT-B";
    font-size: 1.6rem;
    line-height: 1.5;
  }

  .skill-section .m-skill-left-area .m-skill-title {
    display: inline-block;
    font-size: 3.6rem;
    font-family: "SUIT-H";
    letter-spacing: -0.08em;
    box-shadow: inset 0 -28px 0 #C1C4FF;
    margin-bottom: 15px;
  }

  .project {
    display: flex;
    flex-direction: column;
    gap: 20px;

  }

  .project-section {
    padding: 140px 0;
    gap: 100px;
  }

  .project .pro-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project .m-pro-title {
    display: block;
  }

  .pro-title {
    display: none;
  }

  .project p {
    text-align: center;
  }

  .project button {
    margin-top: 30px;
  }

  .intro {
    flex-direction: column;
  }

  .about-section {
    width: 86%;
    padding: 140px 0;
  }

  .about-section .about-bottom {
    margin-bottom: 100px;
  }

  .about-section .intro p {
    text-align: center;
  }

  .about-section .key-content .ket-text-wrap {
    display: flex;
    justify-content: center;
  }

  .about-section .key-text {
    text-align: center;
    align-items: center;
  }

  .about-section .keyword li p {
    font-size: 2.2rem;
    letter-spacing: -0.08em;
  }

  .contact-section {
    box-sizing: border-box;
    padding: 0 15px;
  }

  .contact-section span {
    font-size: 4.8rem;
  }

}

@media(max-width: 400px) {

  .project p {
    width: 36rem;
  }

  .about-section .intro p {
    width: 100%;
  }

  .about-section .keyword li p {
    font-size: 1.8rem;
  }

  .contact-section span {
    font-size: 3.8rem;
  }
}